.editCreateAboutMe {
	position: relative;
	/*text-align: center;*/
	top: 7.5%;
	display: inline-block;
	text-align: center;
	/*left: 40%;*/
	/*padding-bottom: 10em;*/
	width: 50%;
	left: 25%;
	right: 25%;


}


.exit-edit {
	position: relative;
	margin-top: 2em;
	left: 95%;
}

#edit-profile-exit-link {
	font-size: 2.5em;
	font-style: normal;
	font-weight: 300;
}

.editAboutmeList li {
	list-style-type: none;
}

.editAboutmeList li img {
	float: left ;
}

#edit-create-your-loft {
	list-style-type: none;
	font-size: 3em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	/*top: 10%;
	left: 40%;*/
	text-align: center;
}

#make-it-best{
	list-style-type: none;
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	margin-bottom: 3em;
	/*top: 30%;*/
}

#edit-create-reading-image {
	display: inline-block;
}

#edit-user-reading-answer{
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	background-image: linear-gradient(rgb(138,224,255) .1em, transparent .1em);
	background-position: 0em -0.1em;
	background-size: 100% 1.5em;
	background-attachment: local;
	border: none;
	outline: 0;
	line-height: 150%;
	width: 100%;
	height: 1.5em;
	resize: none;
	overflow: hidden;
	font-size: 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1.3em;

}
#edit-user-reading-question{
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	text-align: left;
	margin-bottom: 2em;
}

#edit-user-listening-question{
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	text-align: left;
	margin-bottom: 2em;
}

#edit-user-thinking-question{
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	text-align: center;
	margin-bottom: 2em;
}

#edit-user-working-question{
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	text-align: center;
	margin-bottom: 2em;
}

#edit-user-about-me-question{
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	text-align: center;
	margin-bottom: 2em;
}


#edit-user-listening-answer{
	list-style-type: none;
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	margin-bottom: 2.5em;
	background-image: linear-gradient(rgb(138,224,255) .1em, transparent .1em);
	background-position: 0em -0.1em;
	background-size: 100% 1.5em;
	background-attachment: local;
	border: none;
	outline: 0;
	line-height: 150%;
	width: 100%;
	height: 1.5em;
	resize: none;
	overflow: hidden;
	font-size: 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1.3em;
}

#edit-user-thinking-answer {
	list-style-type: none;
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	margin-bottom: 2.5em;
	background-image: linear-gradient(rgb(138,224,255) .1em, transparent .1em);
	background-position: 0em -0.1em;
	background-size: 100% 1.5em;
	background-attachment: local;
	border: none;
	outline: 0;
	line-height: 150%;
	width: 100%;
	height: 1.5em;
	resize: none;
	overflow: hidden;
	font-size: 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1.3em;
}

#edit-user-about-me-answer{
	list-style-type: none;
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	margin-bottom: 2.5em;
	background-image: linear-gradient(rgb(138,224,255) .1em, transparent .1em);
	background-position: 0em -0.1em;
	background-size: 100% 1.5em;
	background-attachment: local;
	border: none;
	outline: 0;
	line-height: 150%;
	width: 100%;
	height: 1.5em;
	resize: none;
	overflow: hidden;
	font-size: 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1.3em;
}

#edit-user-working-answer{
	list-style-type: none;
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	margin-bottom: 2.5em;
	background-image: linear-gradient(rgb(138,224,255) .1em, transparent .1em);
	background-position: 0em -0.1em;
	background-size: 100% 1.5em;
	background-attachment: local;
	border: none;
	outline: 0;
	line-height: 150%;
	width: 100%;
	height: 1.5em;
	resize: none;
	overflow: hidden;
	font-size: 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1.3em;
}

#edit-profile-save-link{
	float: right;
	font-size: 1.5em;
	font-style: normal;
	font-weight: 300;
	padding-bottom: 1em;
}