/* CSS declarations go here */
body {
	font-family: sans-serif;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 0;
	margin: 0;

	font-size: 14px;
}

header {
	background: rgb(255,255,255);
	padding: 5px;
}

.placeholder {
	color: #bbb;
}

@media (max-width: 600px) {
	li {
		padding: 12px 15px;
	}

	.search {
		width: 150px;
		clear: both;
	}
}

a { 
	text-decoration: none;
	color: #000000;
}
