/* CSS declarations go here */
body {
	font-family: sans-serif;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 0;
	margin: 0;

	font-size: 14px;
}

header {
	background: #ddddff;
	font-size: 2em;
	padding: 5px;
}

#loft-logout-span {
	float: right;
}

#loft-logo {
	font-size: 2em;
}

#new-post {
	padding: 1em;
}

#post-input {
	/*background-color: #fff;
	background-image: linear-gradient(#ccccff .1em, transparent .1em);
	border-width: 2px;
	border-color: #0000ff;
	outline: 0;*/
	margin: 0em 0em 1em 0em;
	/*background-position: 0em -0.1em;
	background-size: 100% 1.5em;
	background-attachment: local;*/
	font-size: 1em;
	/*line-height: 150%;*/
	width: 100%;
	resize: none;
	overflow: hidden;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
	-webkit-transition: height 0.2s;
		 -moz-transition: height 0.2s;
					transition: height 0.2s;
}
/*
#post-input:focus {
	background-image: linear-gradient(#aaaaff .1em, transparent .1em);
}
*/

.b-posts {
	float: right;
	width: 60%;
}

.b-stories {
	position: relative;
	left: -40%;
	float: left;
	background: #ffdddd;
	width: 40%;
	margin-right: -40%;
}

.b-posts-spacer {
	float: right;
	width: 20%;
}

#story-button {
	position: relative;
	top: -1px;
	color: #000000;
	background: #cc0000;
	font-size: 1em;
	vertical-align: middle;
	text-decoration: none;
	border-style: none;
	height: 1.8em;
	width: 1.8em;
}

#story-button:hover {
	background: #ff0000;
	text-decoration: none;
}

.read-story {
	background: #cccccc;
}

.selected-story {
	background: #cccc00;
}

ul {
	margin: 0;
	padding: 0;
	background: white;
}

.delete {
	float: right;
	font-weight: bold;
	background: none;
	font-size: 1em;
	border: none;
	position: relative;
}

li {
	position: relative;
	list-style: none;
	padding: 15px;
	border-bottom: #eee solid 1px;
}

li .text {
	margin-left: 10px;
}

li.checked {
	color: #888;
}

li.checked .text {
	text-decoration: line-through;
}

li.private {
	background: #eee;
	border-color: #ddd;
}

header .hide-completed {
	float: right;
}

.toggle-private {
	margin-left: 5px;
}

@media (max-width: 600px) {
	li {
		padding: 12px 15px;
	}

	.search {
		width: 150px;
		clear: both;
	}
}
