#loft-logout-span {
	float: right;
}

.standard-link {
	text-decoration: none;
	color: #000000;
	border-style: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1em;
}

#loft-logout {
	margin-top: 4em;
	margin-right: 1em;
}

#loft-logo {
	display: inline-block;
	font-size: 3em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	vertical-align: middle;
}

#update-button {
	display: inline-block;
	font-size: 2em;
	color: #000000;
	background: white;
	vertical-align: middle;
	text-decoration: none;
	border-style: solid;
	outline: 0;
	height: 1.7em;
	width: 1.7em;
}

#update-button:hover {
	background: white;
	text-decoration: none;
}

.post-popup-div {
	position: fixed;
	visibility: hidden;
	left: 30%;
	top: 15%;
	width: 40%;
	height: 65%;
	z-index: 2;
	background-color: white;
	padding: 1em;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.post-popup-footer {
	display: none;
	position: absolute;
	bottom: 0.5em;
	width: 100%;
	text-align: center;
}

.post-prompt-div {
	padding: 1em;
}

.post-input-textarea {
	position: relative;
	background-image: linear-gradient(#ccccff .1em, transparent .1em);
	background-position: 0em -0.2em;
	background-size: 100% 1.5em;
	background-attachment: local;
	border: none;
	outline: 0;
	line-height: 150%;
	width: 100%;
	height: 1.5em;
	max-height: 100%;
	resize: none;
	overflow: hidden;
	font-size: 2em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	/* This code makes the box resize smoothly when more lines are added. We
	 * don't need it, and unfortunately there is also a bug where these lines
	 * break the jQuery animation of 'height' field.*/
	/*-webkit-transition: height 0.2s;
	     -moz-transition: height 0.2s;
	          transition: height 0.2s;*/
}

#post-popup .post-input-textarea {
	font-size: 1.5em;
	height: 93%;
	max-height: 93%;
	top: 40%;
	-webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
}

#submit-post {
	float: right;
	margin: 0 2em;
}

#darken {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
	-webkit-filter: opacity(0.8);
	   -moz-filter: opacity(0.8);
	     -o-filter: opacity(0.8);
	    -ms-filter: opacity(0.8);
	        filter: opacity(0.8);
}

.b-posts {
	float: right;
	width: 66%;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}

.b-updates {
	position: relative;
	left: -34%;
	float: left;
	width: 34%;
	margin-right: -34%;
}

.b-posts-spacer {
	float: right;
	width: 17%;
}

.read-update {
	background: rgb(252,247,252);
	text-decoration: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

.selected-update {
	background: rgb(233,244,255);
}

.b-update {
	width: 80%;
	padding: 0.7em 1.5em;
}

.default-update {
	background: rgb(250,250,250);
}

.update-link {
	text-decoration: none;
	color: #000000;
}


