#loft-logout-span {
	float: right;
}

.standard-link {
	text-decoration: none;
	color: #000000;
	border-style: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1em;
	outline: none;
}

#loft-logout {
	margin-top: 4em;
	margin-right: 1em;
}

#loft-logo {
	display: inline-block;
	font-size: 3em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	vertical-align: middle;
}

#update-button {
	display: inline-block;
	font-size: 2em;
	color: #000000;
	background: white;
	vertical-align: middle;
	text-decoration: none;
	border-style: solid;
	border-color: rgb(220, 220, 220);
	outline: 0;
	height: 1.7em;
	width: 1.7em;
	border-radius:.25em;
}

#update-button:hover {
	background: white;
	text-decoration: none;
}

.post-popup-div {
	position: fixed;
	visibility: hidden;
	left: 30%;
	top: 10%;
	width: 40%;
	height: 45%;
	z-index: 2;
	background-color: white;
	padding: 1em;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.post-popup-footer {
	display: none;
	position: absolute;
	bottom: 0.5em;
	width: 100%;
	text-align: center;
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 300;
}

.post-prompt-div {
	padding: 1em;
}

.post-input-textarea {
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 300;
	position: relative;
	background-image: linear-gradient(rgb(138,224,255) .1em, transparent .1em);
	background-position: 0em -0.2em;
	background-size: 100% 1.5em;
	background-attachment: scroll;
	border: none;
	outline: 0;
	line-height: 150%;
	width: 100%;
	height: 1.5em;
	max-height: 100%;
	resize: none;
	overflow: hidden;
	font-size: 2em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	/* This code makes the box resize smoothly when more lines are added. We
	 * don't need it, and unfortunately there is also a bug where these lines
	 * break the jQuery animation of 'height' field.*/
	/*-webkit-transition: height 0.2s;
	     -moz-transition: height 0.2s;
	          transition: height 0.2s;*/
}

#post-popup .post-input-textarea {
	font-size: 1.5em;
	height: 90%;
	max-height: 90%;
	top: 43%;
	-webkit-transform: translateY(-43%);
      -ms-transform: translateY(-43%);
          transform: translateY(-43%);
}

#submit-post {
	float: right;
	margin: 0 2em;
}

#darken {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
}

.b-posts {
	float: right;
	width: 65%;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}

.b-updates {
	position: relative;
	left: -25%;
	float: left;
	width: 25%;
	margin-right: -25%;
}

.b-posts-spacer {
	float: right;
	width: 17%;
}

.read-update {
	color: rgb(130,130,130);
	text-decoration: inherit;
	margin: 0;
	padding: 0;
}

.selected-update {
	color: rgb(136,252,140);
	margin-right: 0px;
}

.b-update {
	width: 80%;
	padding: 0.7em 10%;
	margin-right: 0px;
}

.default-update {
	color: rgb(0,184,255);
	margin-right: 0;
}

.update-link {
	text-decoration: inherit;
	color: inherit;
}

.b-updates div {
	margin-right: 0px;
}

.load-more-updates {
	padding: 0.7em 10%;
}

#vertical-line {
	display: none;
	position: fixed;
	border-style: solid;
	border-color: rgb(230,230,230);
	border-width: 1px;
	height: 100%;
}

.new-updates {
	font-size: 2em;
}
