#loft-logout-span {
	float: right;
}

#loft-logout {
	text-decoration: none;
	color: #000000;
	margin: 1.5em;
	border-style: none;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	text-align:center;
	font-size: 1em;
}

#loft-logo {
	display: inline-block;
	font-size: 3em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	vertical-align: middle;
}

#update-button {
	display: inline-block;
	font-size: 2em;
	color: #000000;
	background: white;
	vertical-align: middle;
	text-decoration: none;
	border-style: solid;
	height: 1.7em;
	width: 1.7em;
}

#update-button:hover {
	background: rgb(255,255,255);
	text-decoration: none;
}

#new-post {
	padding: 1em;
}

#post-input {
	/*background-color: #fff;
	background-image: linear-gradient(#ccccff .1em, transparent .1em);
	border-width: 2px;
	border-color: #0000ff;
	outline: 0;*/
	margin: 0em 0em 1em 0em;
	/*background-position: 0em -0.1em;
	background-size: 100% 1.5em;
	background-attachment: local;*/
	font-size: 1em;
	/*line-height: 150%;*/
	width: 100%;
	resize: none;
	overflow: hidden;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
	-webkit-transition: height 0.2s;
		 -moz-transition: height 0.2s;
					transition: height 0.2s;
}
/*
#post-input:focus {
	background-image: linear-gradient(#aaaaff .1em, transparent .1em);
}
*/

.b-posts {
	float: right;
	width: 66%;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}

.b-updates {
	position: relative;
	left: -40%;
	float: left;
	width: 34%;
	margin-right: -40%;
	height: 100%;
}

.b-posts-spacer {
	float: right;
	width: 17%;
}

.read-update {
	background: rgb(252,252,252);
	text-decoration: inherit;
	color: inherit;
}

.selected-update {
	background: rgb(233,244,255);
}

.b-update a {
	text-decoration: inherit;
	color: inherit;
}

.b-update p {
	padding: 1.5em 0em 0 0;
	width: 90%;
	margin: 0;
}

.post {
	margin-right: 2em;
}

