.quote {
	text-align: center;
	left:25%;
	width:50%;
	height:50%;
	top: 1%;
	position:absolute;
	text-align: center;
	font-size: 1.5em;
}

#quote-header {
	font-size: 2rem;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
}

#quote-body{
	top: 40%;
	width: 100%;
	position: absolute;
	text-align: center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 1.5em;
}

#quote-button {
	margin-left: 37.5%;
	margin-right: 62.5%;
	width: 5em;
	margin-top: 3.0em;
	text-align: center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
	background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
	background-image: -o-linear-gradient(top, #ffffff, #ffffff);
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	color: #000000;
	font-size: 1em;
	/*padding: 10px 20px 10px 20px;*/
	border: solid #000000 2px;
	text-decoration: none;
	border: none;
}