.register h1 {
	font-size: 3em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
}

.register {
	left: 25%;
	width: 50%;
	height: 50%;
	top: 5%;
	position: absolute;
	text-align: center;
}

.register form {
	width: 80%;
	margin: 0 auto;
	margin-top: 10em;
}

.register ul {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	text-align: center;
	font-size: 1.5em;
	padding: 0;
}

.register li {
	border-bottom: none;
	text-align: left;
	list-style: none;
}

.steps {
	position: absolute;
	left: 90%;
	width: 10em;
	height: 1.5em;
	top: 90%;
	text-align:center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	text-align:center;
	font-size: 1.3em;
}

#account-first-name {
	width: 15em;
	margin: 1.0em;
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 300;
	border: 1px solid #848484; 
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px; 
	border-radius: 30px; 
	outline:0; 
	padding-left:10px; 
	padding-right:10px; 
}

#account-last-name {
	width: 15em;
	margin: 1.0em;
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 300;
	border: 1px solid #848484; 
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px; 
	border-radius: 30px; 
	outline:0; 
	padding-left:10px; 
	padding-right:10px; 
}

#account-email {
	width: 15em;
	margin: 1.0em;
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 300;
	border: 1px solid #848484; 
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px; 
	border-radius: 30px; 
	outline:0; 
	padding-left:10px; 
	padding-right:10px; 
}

#account-password {
	width: 15em;
	margin: 1.0em;
	border: 1px solid #848484; 
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px; 
	border-radius: 30px; 
	outline:0; 
	padding-left:10px; 
	padding-right:10px; 
	font-family: 'Open Sans';
	font-style: bold;
	font-weight: 300;
}

#create-account {
	width: 5em;
	margin: 1.0em;
	text-align: center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
	background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
	background-image: -o-linear-gradient(top, #ffffff, #ffffff);
	background-image: linear-gradient(to bottom, #ffffff, #ffffff);
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	color: #000000;
	font-size: 1.5em;
	padding: 10px 20px 10px 20px;
	border: solid #000000 2px;
	text-decoration: none;
	border: none;
}

#create-account:hover {
	background: rgb(255,255,255);
	text-decoration: none;
}

.invite {
	left: 25%;
	width: 50%;
	height: 50%;
	top: 35%;
	position: absolute;
	text-align: center;
}

.invite li {
	list-style: none;
	font-family: 'Open Sans';
	font-size: 1.75em;
}

#invite-code {
	text-align: center;
	width: 7em;
	border: 1px solid #848484; 
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px; 
	border-radius: 30px; 
	outline:0; 
	padding-left:10px; 
	padding-right:10px; 
}

.invite input:focus{
	text-align: center;
	outline: none;
}
