

#create-your-loft {
	list-style-type: none;
	font-size: 3em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	/*top: 10%;
	left: 40%;*/
	text-align: center;
}

#discover-edit-this-later{
	list-style-type: none;
	font-size: 1.5em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	margin-bottom: 3em;
	text-align: center;
	/*top: 30%;*/
}

.sign-up-discover-footer{
	float: right;
	font-size: 2em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	margin-bottom: 1.5em;
	margin-right: 2em;
}

.sign-up-discover-footer a {
	outline: none;
}

.discover-about-user-icons a {
	outline: none;
}

@media only screen and (max-width: 767px) {
	#create-your-loft{
		font-size: 2em;
	} 
	#discover-edit-this-later{
		font-size: 1em;
	}
	.discover-user-name{
		padding: inherit;
	}
	.discover-follower-name{
		width: 90%;
		padding-left: 5%;
		margin-left: 0px;
		margin-right: 0px;
		padding-right: 5%;
		border-top-style: solid;
		border-bottom-style: solid;
		border-top-width: thin;
		border-bottom-width: thin;
		padding-top: 1em;

	}
	.discover-about-user-icons{
		display: none;
	}
	.discover-follow-user{
		/*width: inherit;*/
		padding-right: none;
		width: 50%;
		/*margin-top: 10%*/
		vertical-align: middle;
	}
	.sign-up-discover-footer{
		margin-bottom: inherit; 
		margin-right: 1.5em;
	}
	/*.discover-profile-request-sent{
		width: 7em;
		left: 0%;
		right: 0%;
	}*/

}