.container hr {
	width: 90%;
	text-align: left;
	margin: 0;
}

.container h1{
	font-size: 1.75em;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
}

.container {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: .9em;
}

.updates-header{
	padding-left: 6.0em;
}

#messages-updates{
	display: inline-block;
	padding-right: 1em;

}

#standard-updates{
	display: inline-block;
	padding-right: 1em;
}

#follower-updates{
	display: inline-block;
	padding-right: 1em;

}

.messages-updates div {
	text-align: center; 
	display: inline-block;
	font-size: .7em;
	font-weight: 400;
	color: rgb(255,255,255);
	background: red;
	vertical-align: 110%;
	position: relative;
	left: -25%;
	text-decoration: none;
	border-style: solid;
	border-color: rgb(255,0,0);
	border-width: thin;
	outline: 0;
	height: 1.2em;
	width: 1.2em;
	border-radius:1.2em;
	font-family: 'Open Sans';
}

#follower-updates div {
	text-align: center; 
	display: inline-block;
	font-size: .7em;
	font-weight: 400;
	color: rgb(255,255,255);
	background: red;
	vertical-align: 110%;
	position: relative;
	left: -25%;
	text-decoration: none;
	border-style: solid;
	border-color: rgb(255,0,0);
	border-width: thin;
	outline: 0;
	height: 1.2em;
	width: 1.2em;
	border-radius:1.2em;
	font-family: 'Open Sans';
}


.standard-updates div {
	text-align: center; 
	display: inline-block;
	font-size: .7em;
	font-weight: 400;
	color: rgb(255,255,255);
	background-color: rgb(255,73,86);
	vertical-align: 110%;
	position: relative;
	left: -25%;
	text-decoration: none;
	border-style: solid;
	border-color: rgb(255,0,0);
	border-width: thin;
	outline: 0;
	height: 1.2em;
	width: 1.2em;
	border-radius:1.2em;
	font-family: 'Open Sans';
}
.updates-back-header{
	display: none;
}

@media only screen and (max-width: 767px) {
	.updates-header{
		width: 60%;
		padding-left: 20%;
		padding-right: 20%;
		padding-top: 5%;
	}
	#new-updates-div{
		padding-top: 5%;
	}
	.b-update{
		font-size: 1.3em;
	}
	#standard-updates{
		padding-right: 0px;
		width: 33%
	}
	#messages-updates{
		padding-right: 0px;
		width: 33%;
		/*left: 40%;*/
	}
	#follower-updates{
		/*float: right;*/
	}
	.updates-back-header{
		display: inherit;
		height: 3em;
		padding-top: 5%;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 300;
		border-bottom-style: solid;
		border-bottom-width: thin;
	}
	.updates-back-header-button{
		height: 100%;
		width: 33%;
		font-size: 1.5em;
		padding-left: 1em;
	}
	.updates-back-header-button input{
		vertical-align: middle;
		padding-right: .5em;
	}

}